template(name='functionalArea')
  div.col-md-3.function-area.text-center
    div.profile
      a(href='/')
        img.img-circle(src='/images/hd.jpg')
      h4 
        a
          +loginButtons
    if currentUser
      div.function
        a.btn.btn-info.btn-block(href='/home') 主页
        a.btn.btn-info.btn-block(href='/newsList') 消息
        a.btn.btn-info.btn-block(href='/publishTask') 发布任务
        a.btn.btn-info.btn-block(href='/myTask') 我的任务
