template(name='publishTask')
  div.container-fluid
    div.row
      +functionalArea

      div.col-md-offset-3.col-md-9
        div.page-header
          h1 发布任务
        form.form-horizontal
          div.form-group.textbox
            label.col-sm-1.control-label(for="title") 标题
            div.col-sm-10
              input.form-control.inputText(type="text" name="title" id="title" placeholder="标题" required)

          div.form-group
            label.col-sm-1.control-label 类别
            div.col-sm-10
              div.btn-group(data-toggle="buttons")
                label.btn.btn-info.active
                  input(type="radio" name="taskType" id="study" value="学习" autocomplete="off" required checked)
                  | 学习

                label.btn.btn-info
                  input(type="radio" name="taskType" id="life" value="生活" autocomplete="off")
                  | 生活

                label.btn.btn-info
                  input(type="radio" name="taskType" id="entertainment" value="娱乐" autocomplete="off")
                  | 娱乐

                label.btn.btn-info
                  input(type="radio" name="taskType" id="else" value="其他" autocomplete="off")
                  | 其他

          div.form-group
<<<<<<< HEAD
            label.col-sm-1.control-label 描述
            div.col-sm-10
              textarea.form-control(id="edit" name="description")

          div.form-group.textbox
            label.col-sm-1.control-label(for="deadline") 截止
            div.col-sm-4
              div.input-group.date(id='datetimepicker')
                input.form-control.inputText(type="text" name="deadline" id="deadline" placeholder="截止时间" required)
                span.input-group-addon
                  span.glyphicon.glyphicon-calendar

          div.form-group.textbox
            label.col-sm-1.control-label(for="contact") 联系
            div.col-sm-10
              input.form-control.inputText(type="text" name="contact" id="contact" placeholder="联系方式" required)

          div.form-group.textbox
            label.col-sm-1.control-label(for="reward") 报酬
            div.col-sm-10
              input.form-control.inputText(type="text" name="reward" id="reward" placeholder="报酬" required)
=======
            label.col-sm-1.control-label 截止
            div.col-sm-4
              div.input-group.date(id='datetimepicker')
                input(type='text' class="form-control")
                span.input-group-addon
                  span.glyphicon.glyphicon-calendar
>>>>>>> 76a64301b0bcfed2b3c27f82ee98967291011a3b

          div.form-group
            div.col-sm-offset-10
              button.btn.btn-primary(type='submit') 确定

