template(name='taskListItem')
  div.col-md-11
    div.panel.panel-default
      div.panel-heading 突然下大雨，求带雨伞
      div.panel-body 天突降大雨，被困图书馆，赶时间回宿舍，求好心人帮忙带伞，重酬！
        a.btn.btn-info.btn-sm.pull-right(href='/oneTask') 详细