template(name='taskListItem')
  div.col-md-11
    div.panel.panel-default
      div.panel-heading
        p.pull-right
          span.label.label-warning 截止时间 
          | {{deadline.toLocaleString}}
        div.panel-title {{title}}
      div.panel-body
        p!= description
        a.btn.btn-info.btn-sm.pull-right(href='/oneTask/{{_id}}') 查看任务
      div.panel-footer 
        span.label.label-danger 报酬
        | {{reward}}
